<h2 class="text-center">Search Books</h2>
<ul class="form-style-1">
    <li>
        <label>Title</label>
        <input type="text" name="title" class="field-long" />
    </li>
    <li>
        <label>Author</label>
        <input type="text" name="author" class="field-long" />
    </li>
    <li>
        <label>Publisher</label>
        <input type="text" name="publisher" class="field-long" />
    </li>
    <li>
        <label>published_Date</label>
        <input type="text" name="published_Date" class="field-long" />
    </li>
    <li>
        <button class="btn btn-primary">Search</button>
    </li>
</ul>
