<h2 class="text-center">Create Books</h2>
    <ul class="form-style-1">
        <li>
            <label>Title <span class="required">*</span></label>
            <input type="text" name="title" class="field-long" />
        </li>
        <li>
            <label>Category <span class="required">*</span></label>
            <input type="text" name="category" class="field-long" />
        </li>
        <li>
            <label>Image <span class="required">*</span></label>
            <input type="email" name="image" class="field-long" />
        </li>
        <li>
            <label>logo <span class="required">*</span></label>
            <input type="email" name="logo" class="field-long" />
        </li>
        <li>
            <label>Price <span class="required">*</span></label>
            <input type="email" name="price" class="field-long" />
        </li>
        <li>
            <label>Publisher <span class="required">*</span></label>
            <input type="email" name="publisher" class="field-long" />
        </li>
        <li>
            <label>Active <span class="required">*</span></label>
            <input type="email" name="active" class="field-long" />
        </li>
        <li>
            <label>Content<span class="required">*</span></label>
            <textarea name="content" id="field5" class="field-long field-textarea"></textarea>
        </li>
        <li>
            <button class="btn btn-primary">Save</button>
        </li>
    </ul>